*{
  box-sizing: border-box;
}

/*Background image and Fonts*/
body {
  background: url("../images/Background.png") repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: auto;
  color: #777777

}

/*Header fonts*/
h1, h2, h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: teal;
}

/*Header Styling*/
header {
  background: white;
  border-bottom: #777777;
  margin-bottom:10px;
}

/*Style of name in header*/
header h1 {
  background:teal;
  color: white;
  display: inline-block;
  padding: 20px;
  font-weight: bold;

}

/*Style of the Naviagion Bar*/
nav {
  width: 400px;
  float: right;
  margin-top: 30px;
  text-align: center;
}

/*Make the list horizontal*/
nav ul li {
  display: inline;
}

/*Navigation Style*/
nav ul li a {
  color: grey;
  font-size: 15px;
  padding: 5px;
  border-right: 1px dashed;
  border-right-color: teal;
  text-decoration: none;
}

/*Body Style*/
#Bio {
  background: white;
  padding: 15px;
  display: inline-block;
  line-height: 2
}

/*Float Image*/
.images {
  float: left;
  margin: 5px;
  border: 1px solid;
  border-color: grey;
}

/*Position content*/
.wrapper {
  width: 960px;
  margin: 0 auto;
}

